language: php

before_install:
  - openssl aes-256-cbc -K $encrypted_a2d334ee0938_key -iv $encrypted_a2d334ee0938_iv -in .travis/travis.enc -out ~/.ssh/id_rsa -d
  - chmod 0600 ~/.ssh/id_rsa

addons:
  ssh_known_hosts: fanyi.juejin.im

script:
  - make test

deploy:
  provider: script
  script: make deploy
  on:
    branch: develop
