$blue-light: #58B7FF;
$blue: #20A0FF;
$blue-drak: #1D8CE0;

$black: #1F2D3D;
$black-light: #324057;
$black-extra-light: #475669;

$silver: #8492A6;
$silver-light: #99A9BF;
$silver-extra-light: #C0CCDA;

$gray: #D3DCE6;
$gray-light: #E5E9F2;
$gray-extra-light: #EFF2F7;

$drak-white: #F9FAFC;
$white: #FFFFFF;

$primary: #20A0FF;
$success: #13CE66;
$warning: #F7BA2A;
$danger: #FF4949;

$grid-gutter-width: 20px;
