<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>gold-miner-web</title>
    <link rel="shortcut icon" href="//gold-cdn.xitu.io/favicons/favicon.ico">
  </head>
  <body>
    <h1>Note: 该文件由前端自动构建生成。</h1>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>

